name: "[Check]"

on:
  workflow_call:

jobs:
  check:
    name: Check packages
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Brioche
        uses: brioche-dev/setup-brioche@v1
        with:
          version: "nightly"

      - name: Check packages
        run: |
          echo ./packages/* | xargs printf -- '-p %s\n' | xargs brioche check

      - name: Check formatting
        run: |
          brioche fmt --check ./packages/*
